fastapi
uvicorn
requests
numpy
python-multipart
huggingface_hub
torch==2.2.0 --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.0 --index-url https://download.pytorch.org/whl/cpu
